DATABASE_URL = 'postgresql+asyncpg://scott:tiger@localhost:5432/mydatabase'
SECRET_KEY = 'enterhereyoursecret'
ALGORITHM = "nonofyourbuisness"
ACCESS_TOKEN_EXPIRE_MINUTES = 58
REFRESH_TOKEN_EXPIRE_DAYS = 58 